nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2vmin;
}

nav.selected {
    background-color: black;
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Noticia Text', serif;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: line-through;
}

nav.selected a {
    color: white;
}

.odd-link {
    text-decoration: underline;
}

.odd-link:hover {
    text-decoration: none;
    cursor:grab;
}

.ali-nav {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
}