
main {
  background-color: black;
}

.homepage-main {
  background-color: black;
  color: white;
  font-family: 'Noticia Text', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: 0px;
  padding-left: 0px;
}

.homepage-main a{
  text-decoration: none;
  color: white;
}

.homepage-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 75vw;
  float: none;
}

.homepage-posts > p {
  float: clear;
}

hr {
  width: 50vw;
}

body {
  padding: 0;
}

.homepage-img {
  float: left;
  margin: 15px;
}