
main {
  background-color: black;
}

.homepage-main {
  background-color: black;
  color: white;
  font-family: 'Noticia Text', serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: 0px;
  padding-left: 0px;
}

.homepage-main a{
  text-decoration: none;
  color: white;
}

.homepage-posts {
  display: flex;
  flex-direction: column;
}

hr {
  width: 90vw;
}
